* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Times New Roman", Times, serif;
}

form {
  max-width: 300px;
  padding: 10px 20px;
  box-shadow: 4px 0 2px 2px #635c5c;
  border: 2px solid currentColor;
  margin: 50px 0;
  margin-inline: auto;
  border-radius: 10px;
}
form input {
  padding: 5px 10px;
  border-radius: 5px;
  margin-bottom: 20px;
  border: 2px solid gray;
}
form input ::placeholder {
  color: #fff;
}
form button {
  padding: 10px 15px;
  background-color: rgb(17, 116, 17);
  color: #fff;
  border: 0;
  width: 100%;
  cursor: pointer;
  border-radius: 10px;
}